@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Scada:ital,wght@1,700&family=Taviraj&display=swap');

@font-face {
  font-family: 'camaroon_megalord';
  src: url(../../public/fonts/camaroon_megalord.otf);
  font-family: 'nosifer-font';
  src: url('../../public/fonts/nosifer-font.ttf');
  font-family: 'Holtwood One SC';
  src: url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Scada:ital,wght@1,700&family=Taviraj&display=swap');
}

/* Light mode is default */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: rgb(135, 162, 251);
  --secondary: rgb(215, 217, 226);
}

/* Only active if user prefers dark mode in system */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
