.flip_card {
  margin: 100px auto 0;
  width: 500px;
  height: 650px;
  perspective: 1000px;
}

.flipped {
  transform: rotateY(180deg);
}

.unflipped {
  transform: rotateY(360deg);
}

.flip_card_inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.flip_card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rba(0, 0, 0, 0.2);
}

.flip_card_face_front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  box-shadow: 10px 5px 5px var(--third);
}

.flip_card_face_front:hover {
  filter: drop-shadow(var(--third) 1rem 1rem 10px);
  transition: filter 2s;
}

.flip_card_face_back {
  background-color: var(--primary);
  transform: rotateY(180deg);
  box-shadow: 10px 5px 5px var(--third);
}

.flip_card_content {
  width: 100%;
  height: 100%;
}

.flip_card_header {
  position: relative;
  padding: 30px 30px 40px;
  display: flex;
  align-content: center;
}

.flip_card_header:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0 0 50% 0;
  background-image: linear-gradient(
    to bottom left,
    var(--primary) 10%,
    var(--secondary) 115%
  );
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.flip_card_body {
  padding: 20px;
  line-height: 1.5em;
}
